## Pandas analysis

In the following a series of exercises is proposed on a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGA's. Each measurement (i.e. each raw) consists of the address of the TDC providing the signal, 'FPGA' and 'TDC_Channel, and the timing information itself, 'ORBIT_CNT', 'BX_COUNTER' and 'TDC_MEAS'. Each TDC count correspond 25/30 ns, whereas the BX_COUNTER feauters gets updated every 25 ns and the ORBIT_CNT every 'x' BX_COUNTER. You can see these way of storing the time as similar to hours, minutes and seconds.

1\. Create a Pandas DataFrame by read N raws of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of raws and larger that 10k.

2\. Find out the value of 'x'

3\. Find out how much the data taking lasted. You can either make an estimate on the baseis of the fraction of the measurements (raws) you read, or perform this check precisely by reading out the whole dataset

4\. Create a new column with the actual time in ns (as a combination of the other three columns with timing information)

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1

6\. Create a new DataFrame with only the raws with HEAD=1

7\. Make two occupancy plots (one per FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [29]:
import pandas as pd
import numpy as np
import numpy.random as npr
npr.seed(123)

1\. Create a Pandas DataFrame by read N raws of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of raws and larger that 10k.

In [30]:
file_name='/Users/annabraghetto/data/data_000637.txt'
data=pd.read_csv(file_name)
data=np.array(data)
number_rows=len(data[:,0])
N=npr.randint(10000,number_rows)
df = pd.DataFrame(data[1:N,:], index=np.arange(N-1), columns=['HEAD', 'FPGA', 'TDC_CHANNEL', 'ORBIT_CNT', 'BX_COUNTER', 'TDC_MEAS'])
df

        HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0          1     0          124  3869200167        2374        27
1          1     0           63  3869200167        2553        28
2          1     0           64  3869200167        2558        19
3          1     0           64  3869200167        2760        25
4          1     0           63  3869200167        2762         4
5          1     0           61  3869200167        2772        14
6          1     0          139  3869200167        2776         0
7          1     0           62  3869200167        2774        21
8          1     0           60  3869200167        2788         7
9          1     1            7  3869200167        2785         4
10         1     0           64  3869200167        2786        19
11         1     1            6  3869200167        2792        18
12         1     0           36  3869200167        2791        23
13         1     0           56  3869200167        2789         3
14         1     1          139  3869200167        2797         0
15         1     1            8  3869200167        2787        14
16         1     0           63  3869200167        2790        10
17         1     1            5  3869200167        2795         4
18         1     0           53  3869200167        2796        26
19         1     1           10  3869200167        2789        14
20         1     0           57  3869200167        2789        10
21         1     0           61  3869200167        2790        23
22         1     0           38  3869200167        2799        15
23         1     0           58  3869200167        2795        19
24         1     0           62  3869200167        2797        14
25         1     0           59  3869200167        2799        14
26         1     0           59  3869200167        3081        21
27         1     0           61  3869200167        3081         1
28         1     0           60  3869200167        3083        20
29         1     0          139  3869200167        3085         0
...      ...   ...          ...         ...         ...       ...
783599     1     1          139  3869207566         317         0
783600     1     1            2  3869207566         315        24
783601     1     1            1  3869207566         799        12
783602     1     0           20  3869207566         798        24
783603     1     1            2  3869207566         800        11
783604     1     0           31  3869207566         799        22
783605     1     0           53  3869207566         806        11
783606     1     0           95  3869207566         802         0
783607     1     0          139  3869207566         804         0
783608     1     0           17  3869207566         802        27
783609     1     0           56  3869207566         800         1
783610     1     0           32  3869207566         800        27
783611     1     0           63  3869207566         803        19
783612     1     0           18  3869207566         807        18
783613     1     0           64  3869207566         801         7
783614     1     0           29  3869207566         808        17
783615     1     0           64  3869207566         807         6
783616     1     0           32  3869207566         808        20
783617     1     0           62  3869207566         813         0
783618     1     0           19  3869207566         810        27
783619     1     0           63  3869207566         870        16
783620     1     0          117  3869207566         882        21
783621     1     0           59  3869207566         881         7
783622     1     0          123  3869207566         878        27
783623     1     1           48  3869207566         879         8
783624     1     0           63  3869207566         883        21
783625     1     0           59  3869207566        1098        23
783626     1     0           63  3869207566        1098         9
783627     1     0           60  3869207566        1100        28
783628     1     0          139  3869207566        1108         0

[783629 rows x 6 columns]

2\. Find out the value of 'x'